Abschlussarbeit Bearbeitung/Jupyter Notebooks/OLD_Stored/

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/

# Generated Output Folders (Intermediate Steps)
Angepasste_Datenbanken/
Kartierung/
globales_Datenschema/
Rock-Type_Mapping/
Datenanalyse/
Rock-Type_Analysis/
MiniSom_Results/
IntraSom_Results/
Imputation_Results/
Evaluation_Results/
inference_results/
**/Preprocessing/

# Generated Reports
*.pdf

# Wrapper Website
Abschlussarbeit Bearbeitung/Wrapper_Website/outputs/
Abschlussarbeit Bearbeitung/Wrapper_Website/uploads/

# Crash Reports
**/Crash_Reports/

# VAE Models
Abschlussarbeit Bearbeitung/Jupyter Notebooks/4_Imputation/4.1_VAE_Imputation/Models/

# Documentation & Presentation
Dokumente Anmeldung/
Posterpräsentation/

# Manual Results Storage
Abschlussarbeit Bearbeitung/Jupyter Notebooks/4_Imputation/4.0_Manueller-Ergebnis-Speicher/
