Abschlussarbeit Bearbeitung/Jupyter Notebooks/OLD_Stored/

# Jupyter
**/.ipynb_checkpoints/

# Python
__pycache__/

# Generated Output Folders (Intermediate Steps)
Angepasste_Datenbanken/
Kartierung/
globales_Datenschema/
Rock-Type_Mapping/
Datenanalyse/
Rock-Type_Analysis/
MiniSom_Results/
IntraSom_Results/
Imputation_Results/
Evaluation_Results/
inference_results/
**/Preprocessing/

# Generated Reports
*.pdf

# Wrapper Website
Abschlussarbeit Bearbeitung/Wrapper_Website/outputs/
Abschlussarbeit Bearbeitung/Wrapper_Website/uploads/

# Crash Reports
**/Crash_Reports/

# VAE Models
Abschlussarbeit Bearbeitung/Jupyter Notebooks/4_Imputation/4.1_VAE_Imputation/Models/

# Documentation & Presentation
Dokumente Anmeldung/
Posterpräsentation/

# Manual Results Storage
Abschlussarbeit Bearbeitung/Jupyter Notebooks/4_Imputation/4.0_Manueller-Ergebnis-Speicher/
Abschlussarbeit Bearbeitung/Jupyter Notebooks/4_Imputation/4_Bachelor-Thesis-Examples/

# Generated Python Scripts from Notebooks
*VAE_Imputation*.py
*Inference*.py
*Evaluation*.py
*_Job.py

# Exposé
*Exposé Praxisprojekt*

# Thesis components (Latex etc)
Abschlussarbeit Bearbeitung/Bachelorarbeit Komponenten/

# Pipeline Scripts
Abschlussarbeit Bearbeitung/Jupyter Notebooks/Pipeline_Scripts/run_pipeline_4_boxplot-generator.py
Abschlussarbeit Bearbeitung/Jupyter Notebooks/Pipeline_Scripts/run_pipeline_4_imputation_beta.py
Abschlussarbeit Bearbeitung/Jupyter Notebooks/Pipeline_Scripts/run_pipeline_4_plot_incremental_error.py
Abschlussarbeit Bearbeitung/Jupyter Notebooks/Pipeline_Scripts/run_pipeline_4-5_Use-timestamp.py
Abschlussarbeit Bearbeitung/Jupyter Notebooks/Pipeline_Scripts/run_pipeline_count-data.py

# Data Acquisition DBs
Abschlussarbeit Bearbeitung/Jupyter Notebooks/1_Acquisition/1.1_Data-Acquisition-Wrapper/Gesammelte_Datenbanken/
Abschlussarbeit Bearbeitung/Jupyter Notebooks/1_Acquisition/1.1_Data-Acquisition-Wrapper/Zwischenstände/

# Comparison Reports
Abschlussarbeit Bearbeitung/Jupyter Notebooks/4-5_Comparison/
