Abschlussarbeit Bearbeitung/Jupyter Notebooks/OLD_Stored/

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/

# Generated Output Folders (Intermediate Steps)
Angepasste_Datenbanken/
Kartierung/
globales_Datenschema/
Rock-Type_Mapping/
Datenanalyse/
Rock-Type_Analysis/
MiniSom_Results/
**/Preprocessing/

# Generated Reports
*.pdf

# Wrapper Website
Abschlussarbeit Bearbeitung/Wrapper_Website/outputs/
Abschlussarbeit Bearbeitung/Wrapper_Website/uploads/
