
# Python & Jupyter
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
*.ipynb_checkpoints

# Project Data Outputs (Timestamped Folders)
**/202[0-9]-*
**/202[0-9]_*
**/Run_202[0-9]-*

# Large Data & Results Folders
**/Angepasste_Datenbanken/
**/MiniSom_Results/
**/IntraSom_Results/
**/Zwischenst*nde/
**/Kartierung/
**/Gesammelte_Datenbanken/
**/GLiM-Kartierung/

# Large & Binary Files
*.csv
*.pdf
*.zip
*.pkl
*.h5
*.pt
*.xlsx
*.xls
*.docx
*.doc
*.url
*.asc
*.tmp
~$*

# Exceptions
!**/README.md
!**/*_Mapping.csv
